name: PRODUCTION - Deploy Frontend

on:
  push:
    branches: [main]
    paths:
      - "frontend/**"
  workflow_dispatch: {}

jobs:
  deploy-frontend:
    runs-on: ubuntu-latest
    environment: production

    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Deploy frontend via FTPS
        uses: SamKirkland/FTP-Deploy-Action@v4.3.5
        with:
          server: ${{ secrets.FTP_SERVER }}
          username: ${{ secrets.FTP_USERNAME }}
          password: ${{ secrets.FTP_PASSWORD }}
          protocol: ftps
          local-dir: ./frontend/
          server-dir: /
          dangerous-clean-slate: false
          log-level: standard
          exclude: |
            **/.ftpquota
            **/.well-known/**
            **/shared/**
            **/img/**
            **/backend/**
